<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1> Please type in your name: </h1>

    <form action='/name'>
      <input name='name' />
      <submit/>
    </form>
  </body>
</html>
