<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <% if @error %>
      <div class='error'><%= @error %></div>
    <% end %>

    <div class='box'>
      
      <div class='title'>Login</div>
	  
      <form action='/login' method=post>
        <input name='username' placeholder='username' />
        <input name='password' type='password' placeholder='password' />
        <br />
        <br />

        <input type='submit' />
      </form>

    </div> 
    
  </body>
</html>