<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class='box'>
      Hello <%= @name %> you are in <%= @state %>
      <a href='/'>Home</a>    
    </div>

    
  </body>
</html>